.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

.popup-box {
  background: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  margin: 12% auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
}

.close-btn {
  background: #ccc;
  color: black;
  border-radius: 15px;
}
