*{
    margin: 0px;
    padding: 0px;
    border: none;
}

.left{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    padding: 5px 0,0,5px;
    position: relative;
    left: 1100px;
    top: 30px;
    background-image: url("vision-pics.jpg");
    background-size: cover;
}
.right{
    height: 500px;
    width: 1000px;
    border: 2px solid yellow;
    position: relative;
    bottom: 360px;
    /* display: flex;
    justify-content: center; */



}
P{
    color: red
}
span{
    color:  blue;
}